H1{font-size:36px;font-style:oblique}
H2{color:white}
H3{color:rgb(50, 40, 199)}
a:link{color:rgb(62, 65, 199)}
a:visited{color:rgb(238, 232, 232);}
a:hover{color:rgb(240, 33, 33)}
a:active{color:rgb(224, 71, 199)}
a.pos4{position:relative;
top: -150px;
left: 1100px;}
a.pos1{position:relative;
top:-150px;
left:500px}
a.pos2{position:relative;
    top:-150px;
    left:700px}
a.pos3{position:relative;
    top:-150px;
    left:900px}